@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    Customer Id = @ViewBag.customer.Id
    <br />
    Customer Name = @ViewBag.customer.Name
    <br />
    Customer Age = @ViewBag.customer.Age
    <br />
    Customer Email = @ViewBag.customer.EMail
    <br />
    Customer Phone = @ViewBag.customer.Phone
    <br />
</div>
